<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<div class="profile">
    <div class="profiletop">
        <div class="pic">
            <img src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png" alt="">
        </div>
        <div class="info">
            <span>User Name</span>
            <span>Location</span>
            <span>info</span>
        </div>
    </div>
</div>

<div class="tabs">
    <div>Home</div>
    <div>Crops</div>
    <div>Profile</div>
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
