<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Agro Advisory App</title>
  </head>
  <body>
    <div class="container"><%- body %></div>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/js/script.js"></script>
    <script>
//     let uid = document.getElementById("usid").innerText;
//     // let cid = document.getElementById("cid").innerText;
//   $( ".cid" ).click(function( event ) {
//   let thisVal=event.currentTarget.children[0].textContent;
//   console.log(thisVal);
//     console.log(uid);
//       console.log(thisVal);
//       let data = {id:thisVal};
      
//       let urlp =`/users/${uid}/crops/new`; 
      
//       console.log(`post:${urlp}`);
//       console.log(data);
//       let options = {
//         method: "POST",
//         headers: {
//             "Content-Type": "application/json",
//         },
//         body: JSON.stringify(data)
//       };
//      fetch(urlp,options).then(res => res.json()).then(res => console.log(res)).catch(error=>console.error(error));
// });
// $("#cropList").click(function(event){
//   let urlg =`/users/${uid}/crops`;
//   fetch(urlg).then(res => res.json()).then(res => console.log(res)).catch(error=>console.error(error));
// })
    // const _handleAddCrop=()=>{
    //   console.log(uid);
    //   console.log(cid);
    //   let data = {id:cid};
      
    //   let urlp =`/users/${uid}/crops/new`; 
    //   let urlg =`/users/${uid}/crops`; 
    //   console.log(`post:${urlp}\nget:${urlg}`);
    //   console.log(data);
    //   let options = {
    //     method: "POST",
    //     headers: {
    //         "Content-Type": "application/json",
    //     },
    //     body: JSON.stringify(data)
    //   };
    //  // fetch(urlp,options).then(res => res.json()).then(res => console.log(res)).catch(error=>console.error(error));
    // }
    </script>
  </body>
</html>
