<div class="logincontainer">
  <form id="loginform" action="/users/login" method="POST">
      <h2>Login</h2>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Email"
        required
      />
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />
      <button type="submit">Login</button>
      <button id="tosignup" type="button">Sign Up</button>
    </form>
    <form id="signupform" action="/users/register" method="POST">
      <h2>Sign Up</h2>
      <input
      type="name"
      id="name"
      name="name"
      class="form-control"
      placeholder="Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
      required
      />
      <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
      required
      />
      <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
      required
      />
      <input
      type="password"
      id="password2"
      name="password2"
      class="form-control"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      required
      />
      <button id="tologin" type="button"><i class="fas fa-angle-left"></i></button>
      <button type="submit">Sign Up</button>
    </form>
    <% include ./partials/messages %>
    <div class="sociallogin">
      <button class="fbbt"><i class="fab fa-facebook"></i>Login with Facebook</button>
    </div>
  </div>