@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    font-family: Comfortaa, sans-serif;
    overflow: hidden;
    background: #35A7FF;
}

.logincontainer {
    height: 70%;
    width: 80%;
    min-height: 400px;
    max-width: 330px;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #000 2px 4px 10px 0.1px;
}

.logincontainer form {
    margin-top: 4em;
    text-align: center;
}

.logincontainer form input {
    display: block;
    padding: 0.6em 0.2em;
    margin: 0 auto;
    margin-bottom: 1em;
    background: #E8E8E8;
    border-color: transparent;
    font-size: 1em;
}

.logincontainer form button {
    background: #6BF178;
    padding: 1em;
    border-radius: 0.2em;
    border: transparent;
}

.logincontainer div {
    margin: 1em 0;
    text-align: center;
}

.logincontainer div button {
    font-size: 1em;
    font-weight: bold;
    padding: 0.6em 0.4em;
    color: white;
    border: transparent;
    border-radius: 0.2em;
    background: #35A7FF;
}

.logincontainer div button i {
    margin-right: 1em;
    font-size: 1.4em;
}

#signupform {
    display: none;
}

.sociallogin {
    position: absolute;
    width: 100%;
    bottom: 10px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.tabs {
    position: fixed;
    display: flex;
    width: 100vw;
    bottom: 0;
    left: 0;
    font-size: 1.4em;
    background: #35A7FF;
    box-shadow: #000 0px -0.8px 5px 0.1px;
    /* border-top: 1px solid #E8E8E8; */
}

.tabs div {
    width: 33.33%;
    padding: 0.8em 0;
    color: #eee;
    text-align: center;
    cursor: pointer;
    border-bottom: 0.2em solid transparent;
}

div.tabactive {
    background: #6BF178;
    color: #000;
    border-color: #FF8484;
}
.profile{
    background: #E8E8E8;
    /* color: #eee; */
}
.profiletop{
    font-weight: bold;
    letter-spacing: 1.4px;
    margin-top: 2em;
    padding: 1em;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid #E8E8E8;
}

.profiletop .pic img{
    height: 120px;
    width: 110px;
    border-radius: 50%:
}
.profiletop div{
    justify-self: center;
    
}
.profiletop .info span{
    display: block;
}

.profilebottom{
    background: #6BF178;
    color: white;
}
.pcroplist p{
    padding: 1.1em;
    background: #54545433;
}
.pcroplist ul{
    list-style: none;
}
.pcroplist ul li{
    padding: 1em;
    color: white;
}

.crops,.home{
    display: none;
}

.search{
    margin-top: 1.2em;
    text-align: center;
}
.search input,button{
    border:transparent;
    padding: 0.6em;
    border-radius: 0.4em;
}

.cropcards{
    margin-top: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows:repeat(auto-fit(minmax(260px,1fr))); 
}
.cropcards div{
    padding: 1em;
    border-radius: 0.4em;
    background: linear-gradient(#D5E68D,#6BF178);
    display: flex;
    justify-content: space-around;
}
.cropcards div h2{
    letter-spacing: 1px;
    color:whitesmoke;
}
.cropcards div p{
    opacity: 0.6;
    font-size: 0.8em;
}
.cropcards div img{
    height: 80px;
    width: 100px;
    float: left;
    border-radius: 0.4em;
}
.cropcards div span:nth-of-type(2){
    text-align: center;
}
.cropcards div span button{
    margin: 1em 0 0 0;
}
.home,.crops,.profile{
    max-height: 78vh;
}
.cropcards,.profilebottom{
    overflow: hidden;
    overflow-y: scroll;
}
.homecards{
    display: flex;
    flex-direction: column;
}
.homecards div{
    margin: 1em;
    padding: 1em;
    border-radius: 0.6em;
    background: #eee;
}